
@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    ViewBag.Title = "P-Manager";
}

 

<a name="about"></a>
<div class="intro-header">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="intro-message">
<h1>Task Management Application</h1>

<hr class="intro-divider">

</div>
</div>
</div>

 

    </div>

 

</div>

 

<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a">
<div class="container">
<div class="row">
<div class="col-lg-5 col-sm-6">
<hr class="section-heading-spacer">
<div class="clearfix"></div>

<p class="lead">
                    Task Management Application - Develop a basic task management application using C# and .NET Framework. The application should allow users to create, update, and delete tasks, as well as mark them as completed. Show how GitHub Copilot can be used to generate code for implementing CRUD operations, input validation, and user interface design.
                    Github Location for <a target="_blank" href="https://github.com/revathibalusamy/TaskManagement/"> Reference</a>
</p>
</div>
<div class="col-lg-5 col-lg-offset-2 col-sm-6">
<img class="img-responsive" src="~/Content/img/ipad.png" alt="">
</div>
</div>
</div>
<!-- /.container -->
</div>
<!-- /.content-section-a -->

has context menu